<!--- unfollow.html.erb begin -->
<%= form_for(current_user.relationships.find_by_followed_id( @user),
             html: { method: :delete },
             remote: true) do |f| %>
  <%= f.submit "Unfollow", class: "btn btn-large" %>
<% end %>
<!--- unfollow.html.erb end -->
