<!--- _user.html.erb begin -->
<li>

     <!-- <%= gravatar_for user %>-->
      <%= link_to gravatar_for(user.name), user %>
      
      <%= link_to user.name, user %>
       see not see
      <% if current_user.admin? && !current_user?(user) %>
        | <%= link_to "delete", user, method: :delete,
                                      data: { confirm: "You sure?" } %>
      <% end %>
</li>
<!--- _user.html.erb end -->
