<!-- _feed.html.erb begin-->
        <% if @feed_items.any? %>
          <ol class="microposts">
            <%= render partial: 'shared/feed_item', collection: @feed_items %>
          </ol>
          <%= will_paginate @feed_items %>
        <% end %>
<!-- _feed.html.erb end-->
